<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload Excel File</title>
</head>
<body>
    <h1>Tải lên file Excel</h1>
    <form action="{{ url_for('upload_file_page') }}" method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <button type="submit">Tải lên</button>
    </form>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
</body>
</html> -->
